html
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/master.css")
        block head
    body(onload="init()")
        block page-nav
        div(
            id="main"
            class="light-bg light-bg-text"
        )
            block main