<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <link rel="stylesheet" href="addmovie.css">
    <title>Add Movie</title>
</head>
<body>
    <div id="header" class="dark-bg dark-bg-text">
        <a id="sitetitle" href="#" class="dark-bg dark-bg-text"><span class="highlighted-text">DIONYSUS</span> MOVIE PROJECT</a>
        <span class="navigation">
            <form action="/movies">
                <input id="query" name="query" type="text" placeholder="Search Movies">
                <button id="submit" type="submit" class="btn-style header-btn dark-bg dark-bg-text">SEARCH</button>
                <a href="#"><button id="login" class="btn-style header-btn dark-bg dark-bg-text">LOG IN</button></a>
                <button id="user" class="btn-style header-btn dark-bg dark-bg-text">USERNAME</button>
            </form>
        </span>
    </div>


    <div id="main" class="light-bg light-bg-text">
        <div class="userInput">
            <div class="halfLeft">
                <h1>INFO</h1>
                <div class="input">
                    <lable>Movie Title</lable><br>
                    <input type="text" id="movieTitle">
                </div>
                <div class="input">
                    <lable>Movie Release Year</lable><br>
                    <input type="text" class="date" placeholder="YYYY" id="year" >
                    <input type="text" class="date" placeholder="MM"   id="month">
                    <input type="text" class="date" placeholder="DD"   id="day"  >
                </div>
                <div class="input">
                    <lable>Movie Runtime</lable> <br>
                    <input type="text" id="runtime">
                </div>
                <div class="input">
                    <lable>Movie Rating</lable> <br>
                    <input type="text" id="rating">
                </div>
                <div class="input">
                    <lable>Movie Poster</lable> <br>
                    <input type="text" id="poster">
                </div>
                <div class="input">
                    <lable>Movie Plot</lable><br>
                    <textarea id="plot" class="areaInput"></textarea>
                </div>
            </div>
            <div class="halfRigth">
                <h1>STAFF</h1>
                <div class="input">
                    <lable>Add Writer</lable><br>
                    <input type="text" list="names" id="writer">
                    <p id="writerList">[]</p><br>
                </div>
                <div class="input">
                    <lable>Add Director</lable><br>
                    <input type="text" list="names" id="director">
                    <p id="directorList">[]</p><br>
                </div>
                <div class="input">
                    <lable>Add Actor</lable><br>
                    <input type="text" list="names" id="actor">
                    <p id="actorrList">[]</p><br>
                </div>
                <div class="input">
                    <lable>Add Keywords</lable><br>
                    <input type="text" id="genre">
                    <p id="genreList">[]</p><br>
                </div>
            </div>
            <div>
                <button id="submitMovie" class="header-btn dark-bg dark-bg-text">SUBMIT</button>
                <datalist id="names">
                    <option value="a">
                    <option value="b">
                    <option value="c">
                    <option value="d">
                    <option value="e">
                  </datalist>
            </div>
        </div>
    </div>
</body>
</html>